
<input type='hidden' id='mode' value='edit' />

<h1><%= @project.name %></h1>
<p><%= link_to 'back to projects', project_path() %></p>

<% if @project.json %>
    <script type="text/javascript">
        var list_json = <%=raw @project.json %>
    </script>
<% end %>

<div id='controlls' class='row'>
    
    
    <div class="btn-group span3" >
        <button id='play'      class='control btn'>Play</button>
        <button id='stop'      class='control btn' value='stop'>Stop</button>
        <button id='backwards' class='control btn' >&laquo;</button>
        <button id='forward'   class='control btn' >&raquo;</button>
        <button id='rewind'    class='control btn' >&laquo;&laquo;</button>
    </div>
    
    <button id='randomise' class='control btn span2' >randomise</button>
    
    <form class="navbar-form pull-right" id='settings'>
        <div class='span2'>
            <label for='bmp'>BPM</label>
            <input type="text" id='bpm' class=" setting_field  pull-left">
        </div>
        
        <div class='span2'>        
            <label for='bml'>Beats per loop</label>
            <input type="text" id='bpl' class=" setting_field pull-left">
        </div>
        
        <div class='span2'>        
            <label for='steps'>Steps</label>
            <input type="text" id='steps' class=" setting_field pull-left">
        </div>
    </form>
    
</div>    

<div id='composer'>
    <div id='playhead'></div>
    <!-- Javascript builds composer in here  -->
</div>


<div id='file_controls'>
    
    <div id='file_list'>
        <% 
        i=0
        @sound_files.each do |sound_file| 
        %>  
            <div class='row audio_file' data-id='<%= i.to_s %>' id='sound_<%= sound_file.id %>' >
                <div class='load_indicator span1'></div>
                <div class="name span5"><%= sound_file.sound_url %></div>
                <div class="actions name span3">

                  <%= link_to "remove", url_for([@project, sound_file]), :remote=>true, :confirm => 'Are you sure?', :method => :delete %>
                </div>
             </div>
        <% 
        i=i+1
        end 
        %>
    </div>    
 


    <%= render 'sound_files/form' %>
    
    <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
    </script>
    
</div>