
<input type='hidden' id='mode' value='edit' />

<h1><%= @project.name %></h1>
<p><%= link_to 'back to projects', projects_path() %></p>

<% if @project.json %>
    <script type="text/javascript">
        var list_json = <%=raw @project.json %>
        var project_id = <%= @project.id %>
    </script>
<% end %>



<div id='controls' class='row'>
    
    
    <div class="btn-group span3" >
        <button id='play'      class='control btn'>Play</button>
        <button id='stop'      class='control btn' value='stop'>Stop</button>
        <button id='backwards' class='control btn' >&laquo;</button>
        <button id='forward'   class='control btn' >&raquo;</button>
        <button id='rewind'    class='control btn' >&laquo;&laquo;</button>
    </div>
    
    <button id='randomise' class='control btn span2' >randomise</button>
    
    <form class="navbar-form pull-right" id='settings'>
        <div class='span1'>
            <label for='bpm'>BPM</label>
            <input type="text" id='bpm' class="setting_field  pull-left">
        </div>
        
        <div class='span1'>        
            <label for='bpl'>Beats/loop</label>
            <input type="text" id='bpl' class="setting_field pull-left">
        </div>
        
        <div class='span1'>        
            <label for='steps'>Steps</label>
            <input type="text" id='steps' class="setting_field pull-left">
        </div>
        
        <div class='span1'>        
            
            <input type="button" id='save_settings' value='Save' class=" setting_field pull-left">
        </div>
    </form>
    
</div>    





<div class='row'>
    <img id="loop_overplay_label" src='/assets/loop_overplay_label.png' />
    <div id='composer' class='span12'>
        
        <div id='playhead'></div>
        <!-- Javascript builds composer in here  -->
    </div>
</div>

<div class='row'>
    <div id='file_controls' class='span12'>
    
        <div id='file_list'>
            <!--Javascript puts files in here -->
        </div>    
    
        <%= s3_uploader_form post: "#{project_path(@project)}/sound_files", as: "sound_files[sound]", id: "myS3Uploader" do %>
          <%= file_field_tag :file, multiple: true %>
        <% end %>
    
        <script id="template-upload" type="text/x-tmpl">
        <div id="file-{%=o.unique_id%}" class="upload">
          {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
        </script>
    
    </div>
</div>    