<h1><%= @project.name %></h1>

<% if @project.json %>
    <script>
        <%=  @project.json %>
    </script>
<% else %>
    <%= javascript_include_tag "blank_list.js" %>
<% end %>


<table>

<% @sound_files.each do |sound_file| %>
  <tr>
    <td><%= sound_file.name %></td>
    <td><%= sound_file.sound_url %></td>
    <td> - <%= sound_file.project_id %> - </td>
 </tr>
<% end %>
</table>

<br />

<%= render 'sound_files/form' %>